/* create color variables */
:root {
    --background: #ffebcc;
    --card: #ffffff60;
    --element: #ff9999;
    --sea: #293462;
    --dark: #1f1f1f;
}

html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--dark);
    scroll-behavior: smooth;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: calc(10px + 2vmin);
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
}

.face{
    background-color: var(--element);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.subtitle{
    color: var(--sea);
    font-size: 1.5rem;
    margin: 0;
    text-align: left;
}

.avatar{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
}

/* xs device  */
@media (max-width: 576px) {
    
}